.imgDownload {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #4479BA;
    color: #FFF;
    padding: 8px 12px;
    text-decoration: none;
}

.buttons {
    height: 100%;
    clear: both;
    padding: 2ex 0ex;
}

#output {
    clear:both;
    padding: 2ex 0ex;
}

#progress {
    overflow-x: hidden;
}

#editableGroup {
	border-bottom: 1px black dashed;
	border-top: 1px black dashed;
	padding-bottom: 1em;
	padding-top: 1em;
}

.groupElement {
    color: red;
}

.outgoingPositive {
    color: green;
}

.incomingPositive {
    color: blue;
}

.inoutPositive {
    color: purple;
}

.incomingPositive::after {
    content: '←';
}
.outgoingPositive::after {
    content: '→';
}
.inoutPositive::after {
    content: '↔';
}

.negative {
    background-color: yellow;
}

.horizontalList {
	display: inline-block;
}

.horizontalList li + li:before {
	content: ", ";
	padding-right: 1em;
}

.horizontalList li {
	display: inline-block;
}

.negativeTemp {
	border-radius: 5px;
	border: 1px yellow solid;
}

.incomingPositiveTemp {
	border-radius: 5px;
	border: 1px blue solid;
}

.outgoingPositiveTemp {
	border-radius: 5px;
	border: 1px green solid;
}

.inoutPositiveTemp {
	border-radius: 5px;
	border: 1px purple solid;
}

.incomingPositiveTemp::before {
    content: '→';
}
.outgoingPositiveTemp::before {
    content: '←';
}
.inoutPositiveTemp::before {
    content: '↔';
}

negativeTemp::before {
	content: 'X';
}